@media (max-width: 1321px) {
  .students {
    width: 74%;
    margin: 24px 0px;

    padding: 30px 40px;
  }
}

@media (max-width: 985px) {
  .students {
    width: 100%;
    padding: 30px 26px;
  }
}
